body{
    font-family: Georgia;
    background: radial-gradient(circle, rgba(63,94,251,0.7904411764705882) 0%, rgba(252,70,107,0.7988445378151261) 100%);
}
img{
    width: 60%;
    height: 250px;
}
.label1{
    font-size: 20px;
    font-weight: bold;
}
.mydiv2{
background-color: rgb(220, 182, 248);
width: 700px;
border: 15px solid rgb(249, 3, 192);
padding: 100px;
margin: 10px;
} 
h1{
text-shadow: 4px 4px rgb(8, 8, 8);
letter-spacing: 1vi;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
border-style: solid black;
border-radius: 50px;
}  
.myheading{
    color: #000;
}
.mydiv1{
    width: 890px;
    margin: auto;
    color: #fff;
    border: 5px solid #000;
    margin-bottom: 20px;
}
form{
    width: 58%;
    margin: auto;
    padding: 20px;
    padding-right: 20px;
    height: auto;
    background-color: whitesmoke;
    margin-top: 20px;
}
.subdiv{
    display: inline-block;
    margin-right: 10px;
}
.subdiv2{
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    margin: auto;
    margin-right: 20px;

}
.subdiv3{
    width: 55%;
    height: auto;
    margin: auto;
}
.input1,select{
    width: 80px;
    height: 25px;
    margin-bottom: 20px;
}
.input2{
    width: 200px;
    height: 25px;
}
.myhead{
    color:#fff;
}
fieldset{
    width: 58%;
    margin: auto;
    border: 1px solid #fff;
}